service: proyecto-final-apis
frameworkVersion: "3"

org: utecds
app: alicorp-parcial

provider:
  name: aws
  runtime: python3.11
  region: us-east-1
  stage: prod
  httpApi:
    cors: true
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:PutItem
            - dynamodb:GetItem
            - dynamodb:UpdateItem
          Resource:
            - arn:aws:dynamodb:us-east-1:*:table/PedidosTable
            - arn:aws:dynamodb:us-east-1:*:table/ComisionesTable

functions:
  pedidos:
    handler: handlers/pedidos.handler
    events:
      - httpApi:
          path: /api/pedidos
          method: POST
      - httpApi:
          path: /api/pedidos/{id}
          method: GET
      - httpApi:
          path: /api/pedidos/{id}/estado
          method: PATCH

  pagos:
    handler: handlers/pagos.handler
    events:
      - httpApi:
          path: /api/pagos
          method: POST

  comisiones:
    handler: handlers/comisiones.handler
    events:
      - httpApi:
          path: /api/comisiones
          method: POST
      - httpApi:
          path: /api/comisiones/{distribuidor_id}/{periodo}
          method: GET
      - httpApi:
          path: /api/comisiones/{distribuidor_id}/{periodo}
          method: PATCH

resources:
  Resources:
    PedidosTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: PedidosTable
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH

    ComisionesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ComisionesTable
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
