service: proyecto-final-apis
frameworkVersion: "3"
console: false   # desactiva Serverless Console/Observability

provider:
  name: aws
  runtime: python3.11
  region: us-east-1
  stage: prod
  httpApi:
    cors: true
  iam:
    role: arn:aws:iam::410845202169:role/LabRole


functions:
  pedidos:
    handler: handlers/pedidos.handler
    environment:
      PEDIDOS_TABLE: PedidosTable
    events:
      - httpApi:
          path: /api/pedidos
          method: POST
      - httpApi:
          path: /api/pedidos/{id}
          method: GET
      - httpApi:
          path: /api/pedidos/{id}/estado
          method: PATCH

  pagos:
    handler: handlers/pagos.handler
    events:
      - httpApi:
          path: /api/pagos
          method: POST

  comisiones:
    handler: handlers/comisiones.handler
    environment:
      COMISIONES_TABLE: ComisionesTable
    events:
      - httpApi:
          path: /api/comisiones
          method: POST
      - httpApi:
          path: /api/comisiones/{distribuidor_id}/{periodo}
          method: GET
      - httpApi:
          path: /api/comisiones/{distribuidor_id}/{periodo}
          method: PATCH




